@font-face {
    font-family: roboto-condensed;
    src: url(./fonts/roboto-condensed/RobotoCondensed-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: roboto-condensed;
    src: url(./fonts/roboto-condensed/RobotoCondensed-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: roboto-condensed;
    src: url(./fonts/roboto-condensed/RobotoCondensed-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: roboto-condensed;
    src: url(./fonts/roboto-condensed/RobotoCondensed-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: roboto-condensed;
    src: url(./fonts/roboto-condensed/RobotoCondensed-Light.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: roboto-condensed;
    src: url(./fonts/roboto-condensed/RobotoCondensed-LightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}

body {
    --pink-accent: #f1adc7;
    --main-white: #e5e5e5;
    --secondary-gray: #9d9eb2;
    --background-dark-gray: #293435;
    --background-black: #0d0d0d;
    --background-light-black: #1b1b1b;
    background-image: linear-gradient(to bottom right, var(--background-black), var(--background-light-black));
    color: var(--main-white);
    font-family: roboto-condensed;
    font-weight: 200;
    max-height: 95vh;
    overflow-y: hidden;
}

header {
    text-align: center;
    max-height: 5vh;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "viewer"
    "adjustments";
    width: 100%;
    max-height: 85vh;
}

footer {
    max-height: 5vh;
}

footer > * {
    display: inline-block;
}

#top {
    grid-area: viewer;
    max-height: 45vh;
    margin: 1em;
}

.viewer-image {
    height: 40vh;
    object-fit: contain;
}

#playback {
    max-height: 5vh;
}

#frame-num {
    font-weight: 700;
    font-size: 1.25em;
}

#bottom {
    grid-area: adjustments;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 40vh;
}

button {
    font-family: roboto-condensed;
    font-weight: 200;
    background-color: var(--background-light-black);
    outline: 0.2em 0.2em 0.2em 0.2em;
    border-color: var(--main-white);
    color: var(--main-white);
    padding: 0.3em 0.45em;
    border-radius: 8%;
    transition: 0.4s;
}

button:hover {
    background-color: var(--pink-accent);
    transition: 0.2s;
}

input {
    background-color: var(--background-light-black);
    font-family: roboto-condensed;
    font-weight: 200;
    font-style: italic;
    color: var(--main-white);
    border-color: var(--main-white);
}

a {
    color: var(--secondary-gray)
}

#key-threshold {
    width: 60%;
}

#io #keyer {
    display: inline-block;
    justify-content: center;
}

#image-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#image-display > img {
    justify-self: center;
    width: 100%;
}

#playback {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

